node_modules/
**/node_modules/
.venv/
**/.venv/
venv/
env/
__pycache__/
**/__pycache__/
*.py[cod]
.env
**/.env
*.pem
*.key
*.enc
build/
dist/
**/build/
**/dist/
*.db
*.sqlite
*.sqlite3
*.joblib
*.log
.DS_Store
**/.DS_Store
._*
**/._*
.vscode/
.idea/
*.so
*.exe
